<div class="container" id="detalles" class="mx-sm-3 mb-2">
  <h3>Editar</h3>
  <form action="/routes/{{id}}" method="post">
    <div class="form-group row">
      <label for="name" class="col-form-label"></label>
      <div class="col-sm-10">
        <input type="text" id="name" name="name" value="{{name}}" class="form-control">
      </div>
      <div class="col-sm-10"><br>
        <button class="btn btn-outline-primary" type="submit">Actualizar</button>
      </div>
    </div>
  </form>
</div>



<div class="form-group">
  <label for="formGroupExampleInput">Example label</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
</div>