 {{!--
<pre>{{error.stack}}</pre> --}}
<div class="container" id="error">
  <h2>{{error.status}} - {{message}}</h2>
  <div class='container-404-img'>
    <iframe src="https://giphy.com/embed/xTiTnm8AGoS75Cvyko" width="480" height="326" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
      <a href="https://giphy.com/gifs/afvpets-afv-xTiTnm8AGoS75Cvyko"></a>
    </p>
  </div>
  <div class='container-404-txt'>
    <p>Ups! No hemos podido encontrar la página que buscas.</p>
    <a href='/'>Ir a la página de inicio</a>
  </div>
</div>