<div class="container" id="error">
  <h2>Error 500</h2>
  <pre>{{error.stack}}</pre>
  <div class='container-500-img'>
    <iframe src="https://giphy.com/embed/Pn1gZzAY38kbm" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>
      <a href="https://giphy.com/gifs/dog-pretty-Pn1gZzAY38kbm"></a>
    </p>
  </div>
  <div class='container-500-txt'>
    <p>Mmmm... Parece que el servidor tiene problemas.</p>
    <a href='/'>Ir a la página de inicio</a>
  </div>
</div>