<div id="home">
    
  <!-- Header -->
  <div class="header">
    <h1>Xavi i Eva </br>ens casem!</h1>
    <h2><b>1-08-2020</b></h2>
  </div>

  <!-- img1 -->
  <div class="row">
    <div class="main">
      <div class="fakeimg"><img src="images/img1.png" alt="Xavi i Eva" height="100%" width="100%">
  
      </div>
    </div>
  </div>

  <!-- lSeparate line-->
  <div class="header">
    <div style="background-color: #AF526B; width: 100%; height: 10px;">
    </div>
  </div>


  <!-- Home-->
  <div class="row-12">
  <div class="container">
    <ul>
      <li><span id="days"></span>Dies</li>
      <li><span id="hours" style="color: #AF526B;"></span>Hores</li>
      <li><span id="minutes"></span>Minuts</li>
      <li><span id="seconds"></span>Segons</li>
    </ul>
  </div>
  </div>

  <!-- lSeparate line-->
  <div class="header">
    <div style="background-color: #AF526B; width: 100%; height: 10px;">
    </div>
  </div>


  <!-- FORM-->
  <div class="row">
    <div class="main">
  <div class="form-style-8" style="border: 5px solid #AF526B;">
    <h2>Volem compartir amb tu aquest dia.<br> Confirma’ns la teva assistència</h2>
    <form > 
      <input type="text" name="field1" placeholder=" Nom" />
      <input type="text" name="field2" placeholder="Cugnom" /><br>
      <label for="">Ceremonia i convit</label><input type="radio" name="field3" id="boda" value="boda" placeholder="Ceremonia i convit"><br>
      <label for="">Allotjament</label><input type="radio" name="field4" id="domir" value="Allotjament" placeholder="Allotjament"><br>
      <label for="">Arrosada diumenge</label><input type="radio" name="field5" id="diumenge" value="Arrosada" ><br>
      <p>Necessites menú especial ?</p>
      <label for="">Diabetic</label><input type="radio" name="field6" id="diabetic" value="diabetics" placeholder="Diabetic"><br>
      <label for="">Celiac</label><input type="radio" name="field7" id="celiac" value="celiacs" placeholder="Celiac"><br>
      <label for="">Vegetaria</label><input type="radio" name="field8" id="vegetaria" value="vegetaria" placeholder="Vegetaria"><br>
      <label for="">Vega</label><input type="radio" name="field9" id="vegano" value="vegano" placeholder="Vega"><br>
      <label for="">No cal menú especial</label><input type="radio" name="field10" id="no" value="normal" placeholder="No cal menú especial"><br>
    </br></br>
      <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea><br><br>
      <input type="button" value="Confirmeu" />
    </form>
  </div>
</div>
</div>

  <!-- Separate line-->
  <div class="header">
    <div  style="background-color: #AF526B; width: 100%; height: 10px;">
    </div>
  </div>


  <!-- Info-->
  <div class="header">
    <h4><b>Horari</b></h4>
    <p>16:30h. Recepció </br>17:00h. Inici Cerimònia</p>
    <p style="color: #AF526B; font-size: 19px; margin-left: -100px; "><b> <span
          style="text-decoration: underline; color: ;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>sigues puntual</b></p>
  </div>
 
    <!-- lSeparate line-->
    <div class="header">
      <div style="background-color: #AF526B; width: 100%; height: 10px;">
      </div>
    </div>


  <!-- Info-->
  <div class="header">
    <h4><b>El Salt</b></h4>
    <p>Casa Rural<br>Carretera BV-1223, Km 1,3<br>08278 Mura, Barcelona</p>
  </div>
        <!-- img town -->
        <div class="row">
          <div class="main">
            <div class="fakeimg"><img src="images/town.jpg" alt="Xavi i Eva" width="100%">
      
            </div>
          </div>
        </div>
  <!-- Map-->
  <div class="row">
    <div class="main">
      <div class="header">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6407.042517741809!2d1.9852599265652513!3d41.7065018112604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4f02a5177e599%3A0xa6ffefc60faaf3da!2sEl%20Salt!5e0!3m2!1ses!2ses!4v1585915639430!5m2!1ses!2ses"
          width="100%" height="400" frameborder="0" style="border: 6px solid #AF526B;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
  </div>

</div>




