<div class="container llista-page" id="error">
  <h2>Llista de Convidats</h2>
 
  <div class='container-500-txt'>
    <p>Mmmm... // STEVENS</p>
    <a href='/'>Ir a la página de inicio</a>
  </div>
</div>