<div class="container" id="login">
  <h2>Accede a tu cuenta</h2>
<form action="/auth/login" method='post'>
    <br>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo electronico</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electronico">
  </div>
    <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
    <br> <div id="mensaje">{{ messages }}</div>
    <br><br>
  <button type="submit" class="btn btn-outline-primary">Entrar</button>
</form>
<br>
¿No tienes cuenta? <a href="/auth/signup">Crea una cuenta</a>
</div>
</div>


